@import "./color_schemes/dark";

$link-color: #f5ecd6;
$nav-child-link-color: #ffffff;
$sidebar-color: #252a2d;
$body-background-color: #252a2d;
$body-text-color: #e6e6e6;
$body-heading-color: #FFFFFF;
$code-background-color: #462B53;
$base-button-color: $bungalo-red;
$btn-primary-color: $bungalo-red;
$feedback-color: darken(#252a2d, 3%);
$content-width: 65rem;

.nav-category{
  color: $bungalo-red;
}

.youtube-container{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
th{
  background-color: #f5ecd6;
}

.important{
  background: rgba(231, 175, 6, 0.5);
  border-left: 4px solid #ffeb82;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}

.warning{
  background: rgba(221, 46, 46, 0.5);
  border-left: 4px solid #f77e7e;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}